@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
/*Les Codes couleurs*/
$white: #FFFFFF;
$lightRose: #F2CEF2;
$lightViolet: #9E91B7;
$darkRose: #DF99F2;
$darkViolet: #3D2DA6;
$lightBlue: #07338C;
$darkBlue: #021740;

/*Les Fonts*/

$Cantarell:'Cantarell', sans-serif;
$Regular: 400;
$FontSizeText: 16px;
$FontSizeCitation: 14px;
$FontSizeFooter: 10px;
$FontSizeTitreH1: 68px;
$FontSizeTitreH1Responsive: 60px;
$FontSizeTitreH2: 32px;
$FontSizeTitreH2Responsive: 24px;
$FontSizeTitreH2Enigme: 43px;
$Panthera: Panthera;
$Beyno: BEYNO;
$Wakanda: Wakanda;

/*l' ajout des fonts télécharger*/

@font-face{
    font-family: Panthera;
    src: url(../IllustrationLogosAcceuil/Fonts/PantheraRegular-MVZ9J.ttf);
    font-weight: $Regular;
}
@font-face{
    font-family: BEYNO;
    src: url(../IllustrationLogosAcceuil/Fonts/BEYNO.otf);
    font-weight: $Regular;
}
@font-face{
    font-family: Wakanda;
    src: url(../IllustrationLogosAcceuil/Fonts/WakandaForever-Regular.ttf);
    font-weight: $Regular;
}
/*Les codes en géneral*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hero-panther{
    width: 100%;
    height: 400vh;
    background: url(../IllustrationLogosAcceuil/Logos/arrière_plan.png) no-repeat center center/cover;
}
.hero-page{
    position: relative;
}
/*aside styles*/
.hero-page .icons{
    width: 100px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0%;
    left: 0%;
}
.hero-page .icons .line-one{
    width: 8px;
    height: inherit;
    background-color: $lightViolet;
}
.hero-page .icons .line-two{
    width: 50px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-page .icons .line-two .above{
    height: 280px;
    width: 8px;
    background-color: $lightViolet;
}
.hero-page .icons .line-two .below{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-page .icons .line-two .below img{
    margin: 0.1em 0;
}
/*nav styles*/
nav{
    display: flex;
    width: 100%;
    height: 6rem;
    justify-content: space-between;
}
nav .logos{
    width: 12%;
    height: inherit;
    margin: 0 140px;
    display: flex;
    place-items: center;
}
nav .liens{
    width: 30%;
    height: inherit;
    margin: 0 100px;
}
nav .liens ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    height: inherit;
}
nav .liens ul li:nth-child(1) h2 a{
    text-decoration: underline;
    color: $lightViolet;
}
nav .liens ul li h2{
    font-family: $Beyno;
    font-size: $FontSizeTitreH2Responsive;
    font-weight: $Regular;
}
nav .liens ul li h2 a{
    text-decoration: none;
    color: $white;
}
/*Hero styles*/
.hero{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 55% 45%;
}
.hero article{
    padding: 9em 8.5em;
}
.hero article h1{
    color: $lightViolet;
    font-family: $Panthera;
    font-weight: $Regular;
    font-size: $FontSizeTitreH1Responsive;
}
.hero article h2{
    color: $lightViolet;
    font-family: $Beyno;
    font-weight: $Regular;
    font-size: $FontSizeTitreH2;
}
.hero article p{
    color: $white;
    font-family: $Cantarell;
    font-weight: $Regular;
    font-size: $FontSizeText;
    margin: 1.2em 0;
}
.hero article a{
    color: $white;
    font-family: $Cantarell;
    font-weight: $Regular;
    font-size: $FontSizeText;
}
.hero .pic-hero img{
    max-inline-size: 100%;
    block-size: auto;
}
/*Slide styles*/
.slide-hero{
    width: 100%;
    height: 19rem;
    padding-left: 8.5em;
    position: relative;
}
.slide-hero button{
    width: 2.1em;
    height: 2em;
    z-index: 99;
    position: absolute;
    border-radius: 50%;
    border: none;
    background-color: $darkBlue;
    color: $white;
    font-family: $Cantarell;
    font-size: $FontSizeTitreH2Responsive;
    cursor: pointer;
    top: 40%;
    right: 3%;
}
.slide-hero .wakanda-hero{
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: 24% 20% 20% 20% 16%;
    background-color: $darkBlue;
}
.slide-hero .wakanda-hero .one{
    width: 100%;
    height: inherit;
}
.slide-hero .wakanda-hero .one img{
    max-inline-size: 100%;
    block-size: auto;
    transform: scale(1.1);
}
.slide-hero .wakanda-hero .two{
    width: 100%;
    height: inherit;
}
.slide-hero .wakanda-hero .two article{
    padding-left: 1.5em;
    padding-top: 2em;
}
.slide-hero .wakanda-hero .two article h2{
    color: $lightViolet;
    font-family: $Beyno;
}
.slide-hero .wakanda-hero .two article p{
    color: $white;
    font-family: $Cantarell;
    font-size: $FontSizeCitation;
    margin: 0.5em 0;
}
.slide-hero .wakanda-hero .two article a{
    color: $white;
    font-family: $Cantarell;
}
.slide-hero .wakanda-hero .three{
    width: 100%;
    height: inherit;
}
.slide-hero .wakanda-hero .three img{
    max-inline-size: 100%;
    block-size: auto;
}
.slide-hero .wakanda-hero .four{
    width: 100%;
    height: inherit;
}
.slide-hero .wakanda-hero .four article{
    padding: 2em 1em;
}
.slide-hero .wakanda-hero .four article h2{
    color: $lightViolet;
    font-family: $Beyno;
}
.slide-hero .wakanda-hero .four article p{
    color: $white;
    font-family: $Cantarell;
    font-size: $FontSizeCitation;
    margin: 0.5em 0;
}
.slide-hero .wakanda-hero .four article a{
    color: $white;
    font-family: $Cantarell;
}
.slide-hero .wakanda-hero .five{
    width: 100%;
    height: inherit;
}
.slide-hero .wakanda-hero .five img{
    max-inline-size: 100%;
    block-size: auto;
}
/*responsive*/
@media screen and (max-width: 768px){
    nav{
        flex-direction: column;
        height: 28rem;
        justify-content: center;
        align-items: center;
    }
    nav .logos{
        margin: 0;
    }
    nav .liens{
        margin: 0;
    }
    nav .liens ul{
        flex-direction: column;
        height: 12rem;
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
        height: 130vh;
    }
    .hero-panther{
        height: 400vh;
    }
    .hero article{
        padding: 6em;
    }
    .hero article h1{
        font-size: $FontSizeTitreH2;
    }
    .hero article h2{
        font-size: $FontSizeTitreH2Responsive;
    }
    .hero article p{
        font-size: $FontSizeCitation;
    }
    .hero article a{
        font-size: $FontSizeCitation;
    }
}